---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Fauxlaroid</h1>
		<p>a <a href="https://github.com/d33pfri3d">fri3d</a> project</p>
	</main>

	<div>
		<a href=""></a>
	</div>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		flex-direction: column;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		font-family: 'Virgil';
	}

	p{
		font-family: 'Virgil';
		margin:0;
	}
</style>
