---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	html{
		height: 100vh;
	}

	body{
		height: 100%;
	}
@font-face {
  font-family: "Virgil";
  src: url("/fonts/Virgil.woff2");
  font-display: swap;
}

@font-face {
  font-family: "IBM";
  src: url("/fonts/IBMPlexMono-Regular.ttf");
  font-display: swap;
}
</style>
